@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chrome/Safari/Webkit to match theme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0d9488; /* Persian Teal */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f766e;
}

html {
    scroll-behavior: smooth;
}